body {
    text-align: center;
    margin:0px;
    padding-top:800px;
}
#welcome {
    position:absolute;
    overflow:hidden;
    height:800px;
    color:white;
    top:0;
    left:0;
    bottom:0;
    right:0;
    opacity:.8;
    background:linear-gradient(yellow 0%, green 100%);
    display:table;
    width: 100%;
    height: 100%;
}
.inner {
    position:relative;
    display:table-cell;
    vertical-align:middle;
}
.profile {
    border-radius:50%;
    width:175px;
    margin-bottom:50px;
}
.line {
    height:6px;
    width:70px;
    background-color:black;
    margin:8px auto;

}
p {
    max-width:450px;
    margin:25px auto;
    line-height:1.3;
    font-size:17px;

}
#bio {
    padding:50px;
    font-size:30px;

}
#name {
    font-size:30px;
    line-height:1.2;
    font-family:cursive;
}
h1 {
    font-weight:bold;
    font-size:40px;
    line-height:1.2;
}